<!DOCTYPE html>
<html lang="en">
<head>
    {% include "head.html" %}
</head>
<body>

{% include "navbar.html" %}

<section class="container py-1 d-flex flex-column min-vh-100 bg-light mw-500">
    <div class="row mt-4 justify-content-center">
        <div class="col-12">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        {% for message in messages %}
                            {{ message }}
                        {% endfor %}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endif %}
            {% endwith %}
            <h5 class="font-weight-bold my-3 title-text">Tambah Data Mahasiswa</h5>
            <hr>
            <form class="form px-sm-3 px-1" method="post" action="/addprsn_submit">
                <div class="form-group row display-text">
                    <label for="txtnbr" class="col-sm-2 col-form-label">Id</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control display-text" id="txtnbr" name="txtnbr">
                    </div>
                </div>
                <div class="form-group row display-text">
                    <label for="txtname" class="col-sm-2 col-form-label">Nama</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control display-text" id="txtname" name="txtname" required>
                    </div>
                </div>
                <div class="form-group row display-text">
                    <label for="optclass" class="col-sm-2 col-form-label">Kelas</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control display-text" name="optclass" id="optclass" required>
                        <!-- <select class="form-control" name="optclass" id="optclass">
                            <option value="SI-43-01">SI-43-01</option>
                            <option value="SI-43-02">SI-43-02</option>
                            <option value="SI-43-03">SI-43-03</option>
                            <option value="SI-43-04">SI-43-04</option>
                            <option value="SI-43-05">SI-43-05</option>
                            <option value="SI-43-06">SI-43-06</option>
                            <option value="SI-43-07">SI-43-07</option>
                            <option value="SI-43-08">SI-43-08</option>
                            <option value="SI-43-09">SI-43-09</option>
                            <option value="SI-43-INT">SI-43-INT</option>
                        </select> -->
                    </div>
                </div>
                <div class="form-group row add-person-btn">
                    <label class="col-sm-2 col-form-label"></label>
                    <div class="col-12">
                        <a href="/" type="button" class="btn btn-secondary w-100 mb-2">Batal</a>
                        <button type="submit" class="btn btn-primary w-100 font-weight-bold">Selanjutnya</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    {% include "menubar.html" %}
</section>

</body>
</html>