<!DOCTYPE html>
<html lang="en">
<head>
    {% include "head.html" %}
</head>
<body>

{% include "navbar.html" %}

<section class="container d-flex flex-column min-vh-100 bg-light mw-500">
    <div class="row mt-4 justify-content-center">
        <div class="col-12">
            <h5 class="font-weight-bold text-center mb-3 title-text">Data Absensi Mahasiswa</h5>
            <div class="table-responsive">
                <table class="table display-text">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nama</th>
                            <th>Kelas</th>
                            <!-- <th>Active</th> -->
                            <!-- <th>Added</th> -->
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in data %}
                            <tr>
                                <td>{{item[0]}}</td>
                                <td>{{item[1]}}</td>
                                <td>{{item[2]}}</td>
                                <!-- <td>{{item[3]}}</td> -->
                                <!-- <td>{{item[4].strftime('%X %x')}}</td> -->
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    {% include "menubar.html" %}
</section>

</body>
</html>